css

@font-face {
	font-family: “Pudelinka”;
	src: url(”Fonts/pudelinka.ttf” ) format('truetype’);
	font-weight: normal;
	font-style: normal;
}

body {
	background-color: #fff8e1;
	color: #ffd700
	margin-left: 20%;
	margin-right: 20%;
	border: 1px dotted black;
	padding: 10px 10px 10px 10px;
	font-family: sans serif;
    }

blockquote.q {
	color: #ffa500;
	border-left: 4px solid #8B0000;
	font-style: italic;
}

p.quote { 
	font-family: “Pudelinka”, cursive;
	color: #ffa500;
}
